SOTA_USERNAME="w1aw" # SOTA database username, should be your callsign
SOTA_PASSWORD="super secret password" # SOTA database password
SOTA_CLIENT_ID="wavelog" # SOTA API client ID. Leave as "wavelog" unless you know what you are doing.